
.paper {
   padding: 4%;
   padding: spacing(2);
}
form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 20px;
    
  }
.fileInput {
    width: 96%;
    margin: 10px 0px;
  }

.buttonSubmit {
    margin-bottom: 10px;
  }












