
.paper {
   padding: 4%;
   border-radius: 40px;
}
.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 40px;
    
  }
.fileInput {
    width: 96%;
    margin: 10px 0px;
  }

.buttonSubmit {
    margin-bottom: 8px;
  }













